gdal
geopandas
rioxarray 
pystac-client 
matplotlib
pytest
cfgrib
netCDF4 
notebook 
contextily 
eccodes 
adjustText
pyarrow 
unidecode 
ipywidgets 
stackstac 
tqdm 
scikit-image==1.2.2
pypdf2
img2pdf
planetary-computer
pystac
owslib
